nav {
 height: 120px;
 width: 100%;
 background-color: #4056A1;
 color: #FFFFFF;
 font-family: "Bungee";
 padding: 1.5em; 
 position: fixed;
 top: 0;
}
.logo {
font-size: xx-large;
}
.create-tweet {
  font-family: "Source Sans Pro";
  font-size: large;
}
.angles-down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fa-solid.fa-angles-down{
color: red;
}
.nav-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
